form{
   
    border:3px solid#dcdcdc;
    width:700px;
    height:550px;
    margin-top: 30px;
    margin-left: 300px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px  #efefef;
    background-color: transparent; 
    padding-left:150px;
    font-size:2em;
    border-radius: 30px;
    animation-name: abcd;
    animation-duration: 1s;
    animation-iteration-count: infinite;   
}
@keyframes abcd{
    25%{border-top:2px solid red}
    50%{border-right:2px solid red}
    75%{border-bottom:2px solid red}
    100%{border-left:2px solid red}
}
p{
    color:white;

}
#a1{
    font-size:1em;
    font-family: "verdana";
    font-weight: bold;
}
label{
    display: inline-block;
    width: 200px;
    font-family: "verdana";
  font-weight: bold;
    color: white
}
body{
    background-image: url("abcd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: black;
    font-family: "arial";
    text-align: center;
    text-shadow: 3px 3px 3px white;
    font-style: italic;
    font-size: 30pt;
    
    
}

button{
    margin-left: 30px;
    font-size: 18pt;
    font-family: "elephant";
    background: transparent;
    border-radius: 5px;
    color: azure;
}
button:hover{
background-color: white;
box-shadow: 0px 0px 5px 5px gray;
transition: 1s;
}


nav{
    background: rgb(226, 226, 239);
    height: 50px;
    box-shadow: 0px 3px 3px 3px rgb(10, 245, 245);
    border-radius: 30px;
}
input, textarea,select{
    color: rgb(234, 234, 17);
    border: none;
    outline: none;
    background-color: black;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
    font-style: italic;
}
button{
    margin-left: 65px;
    font-size: 18pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: black;
    border: 3px slid white;
    border-radius: 5px;
    color: antiquewhite;
    border-radius: 10px;
    font-weight:bold;
    box-shadow:0px 3px 3px 3px rgb(231, 8, 8);
}
button:hover{
    color: aquamarine;
    transition: 1s;
}
